body {
    font-family: 'Lato', sans-serif;
    min-width: 320px;
}

.mobile, .device {
    font-family: 'Montserrat', sans-serif;
    background-color: #373c3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.mobile-item {
    color: #fff;
    padding: 1em 1.5em;
}

.mobile-btn {
    width: 3.33em;
    height: 3em;
    background-color: #202529;
    position: relative;
}

.burger, .burger::before, .burger::after {
    position: absolute;
    width: 1.17em;
    height: 0.17em;
    background-color: #fff;
    top: 50%;
    margin-top: -0.08em;
    left: 50%;
    margin-left: -0.58em;
    transition-duration: 0.1s;
}

.burger::before {
    content: '';
    transform: translateY(-0.3em);
}

.burger::after {
    content: '';
    transform: translateY(0.3em);
}

.mobile-btn:hover .burger {
    height: 0;
}

.mobile-btn:hover .burger::before {
    transform: rotate(45deg);
}

.mobile-btn:hover .burger::after {
    transform: rotate(-45deg);
}

.mobile-btn-list{
    display: none;
    width: 15em;
    top: 3em;
    right: 0;
    position: absolute;
    padding-bottom: 0.4em;
    background-color: #fafafa;
}
.mobile-btn-item{
    border: 1px solid #f0f0f0;
    padding: 0.75em;
}
.mobile-btn-item:hover {
    background-color: #f5f5f5;
}
.mobile-btn-item > a {
    color: #444444;
    font-size: 1em;
}
.mobile-btn:hover .mobile-btn-list{
    display: block;
}
.device {
    display: none;
}
.device-list {
    list-style: none;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.device-item>a{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}
.logo {
    display: none;
}

.categories {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.categories-item-wrapper{
    display: flex;
    flex-direction: column;
}
.categories-item-main {
    background-image: url("../img/header-fon copy 3@1X.png");
    background-position: 0 50%;
    background-size: 100%;
    padding-bottom: 5.87em;
    margin-bottom: 1px;
    font-weight: bold;
}
.categories-item-text-top {
    color: #fff;
    padding: 1.1em 0 0.44em 1.3em;
}
.categories-item-text-mid {
    color: #fff;
    padding: 0 0 0.56em 1.3em;
}

.categories-item-link {
    color: #a6d6e0;
    font-size: 0.87em;
    padding-left: 1.5em;
}

.categories-item {
    display: flex;
    margin-top: 3px;
}
.categories-item-text {
    color: #fff;
    font-size: 1.25em;
    text-align: center;
    padding: 1.34em;
    background-size: 100%;
    width: 100%;
}
.categories-item-mobile {
    color: #fff;
    padding: 0.6em 1.1em;
    font-size: 1.8em;
    background-color: #acd8ad;
}
.pizza {
    background-image: url("../img/Pizza delivery fon@1X.png");
    background-position: 0 95%;
}

.salads {
    background-image: url("../img/UA_UX Salads fon copy 3@1X.png");
    background-position: 0 94%;
}

.dessert {
    background-image: url("../img/Desserts fon copy 3@1X.png");
    background-position: 0 16%;
}

.menu{
    font-size: 19px;
}

.menu-name {
    display: flex;
    justify-content: space-between;

}
.menu-name-logo {
    display: none;
}

.menu-name-big {
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #3f4043;
    padding: 1.21em 0 0.3em 0.47em;
}

.menu-name-small{
    font-size: 0.45em;
    padding-left: 1em ;
    letter-spacing: 0.07em;
}

.menu-part-headline {
    margin-top: 0.5em;
    font-size: 1.05em;
    text-transform: uppercase;
    background-color: #3f4043;
    color: #acd8ad;
    padding: 0.45em 0.9em;
}
.menu-dish-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.84em;
    text-transform: uppercase;
    padding: 0.8em 1.3em 0.55em 1em;
    letter-spacing: -0.03em;
}
.menu-dish{
    padding: 2px 10px;
}

.menu-dish-name {
    font-size: 0.74em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.35em 0.43em;
    letter-spacing: -0.1px;
}
.fas {
    color: #acd8ad;
    font-size: 1.5em;
}

.menu-dish-price {
    font-weight: bold;
}
.menu-dish-description {
    font-size: 0.47em;
    padding: 0.34em 0.8em;
    letter-spacing: 0.015em;

}
.light {
    background-color: #acd8ad;
    color: white;

}
.menu-part {
    margin-bottom: 1.4em;
}
.footer {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
    letter-spacing: -0.5px;
    background-color: #acd8ad;
    color: white;
    text-align: center;
    margin-top: 3.5em;
}
.footer-text-br {
    display: block;
    margin-top: 0.4em;
}

@media screen and (min-width:640px){
    .mobile{
        font-size: 24px;
    }
    .mobile-btn-list{
        width: 10em;
    }
    .mobile-btn-item {
        font-size: 14px;
    }
    .categories {
        font-size: 34px;
    }
    .menu {
        font-size: 34px;
    }
    .footer-text{
        font-size: 22px;
    }
}

@media screen and (min-width:980px) {
    .mobile{
        display: none;
    }
    .device {
        display: flex;
        padding: 5px 30px;
    }
    .logo {
        display: block;
    }
    .categories-item-wrapper{
        flex-direction: row;
    }
    .categories-item {
        flex: 1;
    }
    .categories-item-text {
        font-size:38px;
        background-size: cover;
        padding: 3em 0;
    }
    .categories-item-main {
        background-size: cover;
        height: 100%;
        padding-bottom: 7em;
    }
    .categories-item-mobile {
        display: none;
    }
    .menu {
        margin-top: 30px;
    }
    .menu-containers {
        display: flex;
        flex-direction: row;
    }
    .menu-name-logo {
        display: block;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-text-br {
        display: inline;
    }
    .categories {
        font-size: 54px;
    }
    .menu {
        font-size: 32px;
    }
    .footer-text{
        font-size: 18px;
    }
}

@media screen and (min-width:1200px) {
    .categories {
        font-size: 60px;
    }
    .menu {
        font-size: 36px;
    }
    .footer-text{
        font-size: 18px;
    }
}